.repair
	margin-bottom: 100px
	&__grid
		display: flex
		justify-content: space-between
		column-gap: 30px
	&__list

	&__list-item
		margin-bottom: 15px
		position: relative
		padding-left: 15px
		cursor: pointer
		font-size: 15px
		&:last-child
			margin-bottom: 0
		&::before
			content: '>'
			position: absolute
			top: 3px
			left: 0
			font-size: 8px


	&__list-title

	&__list-descr
		height: 0
		opacity: 0
	&__image
		flex: 1 0 400px